@import "tailwindcss";

@theme {
  --color-primary: #1E40AF;
  --color-header: #172554;
  --color-azul: #172554;;
  --color-cafeBosc: #A67B5B;
  --color-cafeOscuro: #8C6247;
  --color-negro: #1A1A1A;
}

